<!-- Table of contents for learning resources -->


<div style="background-color:#f1f1f1; display:inline-block; padding: 15px 11px 15px 11px">
  <ul class="container">
    <h3>Table of Contents</h3>
    <div class="dropdown">
      <a href="/learning/start-here">Start Here / Introduction</a>
    </div>
    {% include toc-topic.html topic="Machine Learning" %}
    {% include toc-topic.html topic="Deep Learning" %}
    {% include toc-topic.html topic="Math" %}
    <div class="dropdown">
      <a href="/learning/mml">Mathematics for Machine Learning (Book)</a>
    </div>
    
  </ul>
</div>

<script>
/* expand subtopic dropdowns by default */
document.addEventListener("DOMContentLoaded", function(){
  var dropdown_contents = document.getElementsByClassName("dropdown-content");
  for (var i = 0; i < dropdown_contents.length; ++i) {
    dropdown_contents[i].classList.toggle("show");
  }
});
</script>