<!-- Table of contents for learning resources -->


<div style="background-color:#f1f1f1; display:inline-block; padding: 18px 20px 6px 15px">
<ul class="container">
  <h2>Table of contents</h2>
  {% include toc-topic.html topic="Prerequisites" %}
  <br>
  {% include toc-topic.html topic="Machine Learning" %}
  <br>
  {% include toc-topic.html topic="Deep Learning" %}
  <br>
  {% include toc-topic.html topic="Math" %}
</ul>
</div>

<script>
/* expand subtopic dropdowns by default */
document.addEventListener("DOMContentLoaded", function(){
  var dropdown_contents = document.getElementsByClassName("dropdown-content");
  for (var i = 0; i < dropdown_contents.length; ++i) {
    dropdown_contents[i].classList.toggle("show");
  }
});
</script>